*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html body{
  font-size: 18px;
  color: black;
  font-family: 'lato', 'Ariel', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: scroll;
}
.navbar{
  top: 0;
  background-color: black;
  z-index: 9999;
  box-shadow: 0px 1px 10px #999;
}
.navb {
  margin-top: 20px;
  float: right;
  list-style: none;
  list-style-type: none;
  padding: 0px 5px;
  height: 50%;
  z-index: 1;
  list-style-type: none;
}
.home{
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0,0.1),
  rgba(0, 0, 0,0.1)),url("../menu/images/storefront.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: block;
}

.restaurant{
  height: 100px;
  width: 150px;
  padding-top: 250px;
  margin-left: 50px;
  text-align: center;
  display: block;
}
.btn-app img{
  height: 50px;
  width: auto;
  padding-bottom: 1px;
  margin-right: 10px;
}
.order {
    display: inline-block;
    padding: 2px 2px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 80px;
    background-color: #ff9900;
    color: white;
    border-color: #ff9900;
}
.na{
  border-radius: 100%;
  background-color: #ff9900;
  border-color: #ff9900;
  display: block;
  list-style-type: circle;
}
.navb li {
    /* padding: 5px 5px; */
    /* color: black; */
    z-index: 1;
    display: block;
}

li {
    margin: 10px;
    display: inline;
    float: left;
    padding: 5px 5px;
}
/*CSS of section #2 of the restaurant project*/
.section-meals{
  height: inherit;
  width: 100%;
  display: inline-block;
  position: absolute;
  padding-top: 100px;

}
.meal-photo img{
  width: 50%;
  height: 50%;
  opacity: 0.7;
  display: block;
}

.meal-photo img:hover{
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s,opacity 0.5s;
  opacity: 1;
  display: block;
}
.meals-showcase{
  height: 200px;
  list-style: none;
  width: inherit;
  margin-left: 50px;
}
.meals-showcase li{
  padding: 0;
  float: left;
  display: block;
}
.boxes{
  width: 70%;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: block;

  padding: 0px;

}
.row.boxes{
  padding-left: 18.5px;
  padding-right: 18.5px;
  width: 100%;
  height: auto;
  display: inline-block;
}
